body {
  margin: 0;
  padding: 0;
  background: #191a1a; }
  body #map {
    height: 80vh;
    width: 100%; }
  body .marker {
    border-radius: 100%; }
  body #output {
    min-height: 20vh;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    body #output h1 {
      color: #e8e8e8; }
    body #output div {
      text-align: center; }
      body #output div p {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: #2f3542;
        line-height: 1;
        margin: 1.5rem 0;
        color: #e8e8e8; }
    body #output .confirmed {
      color: #ffa502; }
      body #output .confirmed p:nth-child(2) {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        text-transform: uppercase;
        color: #ffa502; }
    body #output .recovered {
      color: #2ed573; }
      body #output .recovered p:nth-child(2) {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        text-transform: uppercase;
        color: #2ed573; }
    body #output .deaths {
      color: #ff4757; }
      body #output .deaths p:nth-child(2) {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        text-transform: uppercase;
        color: #ff4757; }
    body #output i {
      font-size: 5rem; }

#main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: #2b2b2b;
  color: set-text-color(#444);
  height: 60px;
  margin-top: 1rem; }
  #main-footer a {
    margin-right: 10px; }
  #main-footer .signature {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #main-footer .signature img {
      width: 150px; }
  #main-footer a {
    padding: 0.4rem; }
  #main-footer .instagram:hover {
    color: #d43519; }
  #main-footer .facebook:hover {
    color: #3b5998; }
  #main-footer .linkedin:hover {
    color: #3b6c88; }
  #main-footer .github:hover {
    color: #9919d4; }
  #main-footer .skype:hover {
    color: #00aff0; }
