body {
  margin: 0;
  padding: 0;
  background: #191a1a;
  #map {
    height: 80vh;
    width: 100%;
  }
  .marker {
    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    &:hover {
      cursor: pointer;
    }
  }
  #output {
    min-height: 20vh;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h1 {
      color: #e8e8e8;
    }
    div {
      text-align: center;
      p {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: #2f3542;
        line-height: 1;
        margin: 1.5rem 0;
        color: #e8e8e8;
      }
    }
    .confirmed {
      color: #ffa502;

      @include details(#ffa502);
    }
    .recovered {
      color: #2ed573;

      @include details(#2ed573);
    }
    .deaths {
      color: #ff4757;
      @include details(#ff4757);
    }
    .mortality {
      display: inline;
      color: #ac47ff;
      @include details(#ac47ff);
    }

    i {
      font-size: 5rem;
    }
  }
}

.mapboxgl-popup-close-button {
  font-size: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
