#main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: darken(#444, 10);
  color: set-text-color(#444);
  height: 60px;

  a {
    margin-right: 10px;
  }
  .signature {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 150px;
    }
  }

  margin-top: 1rem;

  a {
    padding: 0.4rem;
  }
  .instagram {
    &:hover {
      color: rgb(212, 53, 25);
    }
  }
  .facebook {
    &:hover {
      color: #3b5998;
    }
  }
  .linkedin {
    &:hover {
      color: rgb(59, 108, 136);
    }
  }
  .github {
    &:hover {
      color: rgb(153, 25, 212);
    }
  }
  .skype {
    &:hover {
      color: #00aff0;
    }
  }
}
